<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <div class="detail-bg">
        <div class="chat-screen">
          <div class="chat-box"><span>안녕하세요</span></div>
          <div class="chat-box"><span>안녕하세요</span></div>
          <div class="chat-box mine"><span>안녕하세요</span></div>
        </div>
      </div>
      <div class="chat-form">
        <input class="chat-input">
        <button class="chat-button">전송</button>
      </div> 

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>

    <script>
      const socket = io()  //유저의 웹소켓 연결
      socket.emit('age', '10') //('데이터이름', '데이터')

      //수신
      socket.on('name', (data)=>{
        console.log(data);
      })
    </script>
    
  </body>
</html>